<footer class="footer">
  <div class="footer-container">
    <a href="https://bridgecrew.io/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-logo-wrapper w-inline-block">
      <p class="powered-text">Powered By</p>
      <img src="https://www.checkov.io/web/images/logo.svg" class="bridge-logo">
    </a>
    <nav class="footer-nav">
      <ul class="footer-links-list w-list-unstyled">
        <li class="footer-li">
          <a href="https://codified-security.herokuapp.com/" class="footer-link">Slack Community</a>
        </li>
        <li class="footer-li">
          <a href="https://bridgecrew.io/about/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">About Bridgecrew</a>
        </li>
        <li class="footer-li">
          <a href="https://bridgecrew.io/platform/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">Platform</a>
        </li>
        <li class="footer-li">
          <a href="https://bridgecrew.zendesk.com/hc/en-us/articles/360008803839-Website-Terms-of-Use" class="footer-link">Terms of use</a>
        </li>
        <li class="footer-li">
          <a href="https://github.com/bridgecrewio/checkov" class="footer-link">GitHub</a>
        </li>
        <li class="footer-li">
          <a href="https://bridgecrew.io/services/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">Our Services</a>
        </li>
        <li class="footer-li">
          <a href="https://bridgecrew.io/about/?utm_source=checkovio&utm_medium=organic_oss&utm_campaign=checkov" class="footer-link">Contact Us</a>
        </li>
        <li class="footer-li">
          <a href="https://bridgecrew.zendesk.com/hc/en-us/articles/360008803379-Privacy-Policy" class="footer-link">Privacy policy</a>
        </li>
      </ul>
    </nav>
    <div class="footer-visit-on">
      <p class="visit-on-text">Visit us on</p>
      <div class="social-links">
        <a href="https://twitter.com/bridgecrewio" class="single-social-link first w-inline-block">
          <img src="https://www.checkov.io/web/images/Fill44.svg" class="social-img">
        </a>
        <a href="https://www.facebook.com/Bridgecrew-345809279464232" class="single-social-link w-inline-block">
          <img src="https://www.checkov.io/web/images/Path870.svg" class="social-img">
        </a>
        <a href="https://www.linkedin.com/company/bridgecrew" class="single-social-link w-inline-block">
          <img src="https://www.checkov.io/web/images/Group253.svg" class="social-img">
        </a>
        <a href="https://github.com/bridgecrewio/checkov" class="single-social-link last w-inline-block">
          <img src="https://www.checkov.io/web/images/Group254.svg" class="social-img">
        </a>
      </div>
    </div>
  </div>
  <!--{% include cookieconsent.html %}-->

</footer>
